@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Golos+Text&display=swap');

h1 {
    color: aqua;
    font-family: 'Fasthand', cursive;
    text-decoration: underline wavy blue;
    

}

h3 {
    font-weight: 3000;
}
